@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

nav {
  padding-left: 50px;
  padding-right: 20px;
}

.circle {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  margin-left: 10px;
}

.btn-floating {
  position: absolute;
  right: 35px;
  bottom: 35px;
}

.modal {
  display: block;
}

.ember-modal-dialog {
  border-radius: 0px;
  box-shadow: none;
  width: 55%;
  max-height: 70%;
}

.modal-title {
  font-size: 35px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 15px;
  height: 80px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal-body {
  margin-top: 70px;
  position: relative;
}

.modal-action {
  float: right;
}

.input-search {
  position: absolute;
  top: 10px;
  left: 10px;
}

.collection .collection-item.avatar {
  padding-left: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.collection-item:hover {
  background-color: rgba(0, 160, 150, .2);
}

[type="checkbox"] + label {
  color: black;
}

h6 {
  font-size: 20px;
}

[data-ember-action] {
  cursor: pointer;
}